.product {
    max-width: 250px;
    // box-shadow: 0 2px 12px 0 rgb(60 60 60 / 10%);

    &__image {
        max-width: 100%;
    }

    &__name {
        font-weight: 600;
        font-size: 1.6rem;
    }

    &__information {
        padding: 0 2rem 2rem;
    }

    &__price {
        font-size: 1.4rem;
    }

}
